* {
    box-sizing: border-box;
    background-color: rgb(244, 244, 244);
    color: #333;
    font-size: 10px;
    outline: none;
}

.App {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 50px;
    margin: 20px 0px 50px;
}

.input {
    font-size: 16px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid rgb(243, 17, 73);
    width: 100%;
    margin: 0px 35px 50px;
}

.gallery {
    column-count: 2;
}

.imgItem {
    color: red !important;
    border: 1px solid red !important;
    font-size: 20px;
}